body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eff6ee;
}

* {
    box-sizing: border-box
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Add padding to container elements */
.container {
    padding: 16px;
    background-color: #FFFFFF;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.btn-borde {
    padding: .375rem .75rem;
    border: 1px solid #246355;
    border-radius: .25rem;
    color: #246355;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
}

.btn-borde:hover, .btn-borde:active, .btn-borde:focus {
    color: #fff;
    background-color: #30b4a5;
}